body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.hover-effect-nav {
  color: #000;
  font-size: larger;
}
.hover-effect-nav:hover {
  font-weight: bolder;
  color: rgb(233, 15, 113);
  text-decoration: underline;
}
.hover-effect-nav:active {
  font-weight: bolder;
  color: rgb(233, 15, 113);
  text-decoration: underline;
}
.hover-effect-nav:focus-within {
  font-weight: bolder;
  color: rgb(233, 15, 113);
  text-decoration: underline;
}

.banner-movieview {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  width: 100%;
}
.img-fluid-custom{max-width:100%;}
.text-padding {
  padding-top: 130px;
}
.text-padding-home {
  padding-top: 170px;
}
.search-bar:focus{
  color: #212529;
  background-color: #fff;
  border-color: rgb(233, 15, 113);
  outline: 0;
  box-shadow: 0 0 0 .15rem rgb(233, 15, 113);
}
.search-btn{
  background-color:rgb(233, 15, 113) ;
  color: #fff;
  font-weight: bold;
}
.search-btn:hover{
  background-color: transparent;
  color: rgb(233, 15, 113) !important;
  font-weight: bold;
  outline: 2px solid rgb(233, 15, 113);

}
.search-btn:focus{
  outline: 2px solid rgb(233, 15, 113) !important;
  font-weight: bold;
}
.search-btn:active{
  outline: 1px solid rgb(233, 15, 113);
  font-weight: bold;
}

.search-btn-banner{
  background-color:rgb(102, 3, 28) ;
  color: #fff;
  outline: 2px solid rgb(241, 202, 220);
  font-weight: bold;
}
.search-btn-banner:hover{
  background-color: transparent;
  color: #fff;
  font-weight: bold;
  outline: 2px solid rgb(241, 202, 220);

}
.search-btn-banner:focus{
  outline: 2px solid rgb(241, 202, 220) !important;
  font-weight: bold;
}
.search-btn-banner:active{
  outline: 1px solid rgb(241, 202, 220);
  font-weight: bold;
}
@media (min-width: 280px) and (max-width: 546px) {
  .banner-movieview {
    height: 150px;
  }
  .text-padding {
    padding-top: 65px;
  }
  .text-padding-home {
    padding-top: 145px;
  }
}
.fa-phone:before {
  content: "\f095";
}
.fa-mail-bulk:before {
  content: "\f674";
}
.fa-info:before {
  content: "\f129";
}
.fa-search:before {
  content: "\f002";
}
.fa-film:before {
  content: "\f008";
}
.fa-rocket:before {
  content: "\f135";
}
footer {
  margin: 0;
  padding: 15px;
}
footer a {
  color: #000;
  text-decoration: none;
  box-sizing: border-box;
  overflow: hidden;
}

footer a:hover {
  color: rgb(233, 15, 113);
}
